body {
#	background: #FFF url('dna-abstract.jpg') no-repeat top left fixed;
	margin: 0 0 20px 0;
	padding: 0;
	font-family: Verdana, sans-serif;
	font-size: 0.95em;
	color: #000;
	line-height: 1.5em;
}

#header {
 width: 80%;
 background:transparent;
 margin: 0 auto;
 padding: 0;
 height: 165px; 
}

#header h1 {
	padding: 30px 0;
	color: #888;
	font-size: 1.4em;
	letter-spacing: 3px;
	margin: 0;
	text-align: right;
}

#nav {
	position: absolute;
	top: 145px;
	left: 10%;
	width: auto;
	padding: 0;
	margin: 0 auto;
	font: bold 13px Verdana, sans-serif;
	height: 25px;
}

#nav li {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline;
}

#nav li a {
	padding: 3px;
	margin: 0;
	border: 1px solid #B78E96;
	border-bottom: none;
	background: transparent url(images/trans6.gif) repeat;
	text-decoration: none;
	
}

#nav li a:link { color: #444; }
#nav li a:visited { color: #444; }

#nav li a:hover {
	color: #fff;
	background: transparent url(images/trans7.gif) repeat;
}

#nav li a#current {
	background: transparent url(images/trans7.gif) repeat;
	border-bottom: 1px solid #999;
}

#container {
	background: transparent url('images/trans5.gif') repeat;
	width: 80%;
	margin: 0 auto;
	padding: 0;
}

#content {
	margin: 0;
	padding: 40px;
	
}

#content li {
	font: bold 15px Verdana, sans-serif;
}

#footer {
	background: transparent;
	padding: 5px 10px 2px 0;
	text-align: right;
	font-size: 0.75em;
	clear: both;
	line-height: 1.15em;
}

a, a:visited {
	background: transparent;
	color: #333;
	border-bottom: 1px solid #888;
	text-decoration: none;
}

a:hover, a:active {
	background: transparent;
	color: #666;
}

h2 {
	color: #666;
	border-bottom: 1px solid #666;
	margin: 0;
	padding: 10px 0 1px 0;
	font-size: 1.2em;
}	
